.nav{
    background-color: var(--header);
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.5));

    transition: all 0.3s ease-in-out;
}

.navbar-brand{
    color: #fff;
}

.navbar-brand:hover{
    color: #e94848;
}